.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #f7f7f8;
  box-shadow: 0.5px 0.5px 3px 3px #eae9e9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle {
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 7px;
  padding-left: 7px;
  width: 80%;
  border-top: 1.5px solid #a7a4a4;
  border-bottom: 1.5px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
.sidebarSubTitel{
  margin: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  width: 80%;
  border-top: 1.5px solid #a7a4a4;
  border-bottom: 1.5px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sidebarItem > img {
  margin-top: 15px;
}

.sidebarItem > p {
  padding: 25px;
  font-size: 17px;
  text-align: justify;
  line-height: 1.3em;
}

.sidebarList {
  list-style: none;
  margin-bottom: 30px;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}