.forgot_container {
	width: 100%;
	min-height: 91vh;
	background:linear-gradient(
        rgba(255, 255, 255, 0.425),
        rgba(255, 255, 255, 0.5)
    ), 
    url("https://images.unsplash.com/photo-1573977593093-620ef30be48e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}