.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: 
    url("https://img.freepik.com/free-photo/couple-tourists-with-backpacks-mountain_1150-7520.jpg?t=st=1657649448~exp=1657650048~hmac=137c02fd7cb613371327aa5e90fa5b0ab27f556bdac299914fc2b3dbcd266a7a&w=1060");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  padding-left: 10px;
  padding-right: 50px;
  background-color: white;
  border: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.registerLoginButton {
  cursor: pointer;
  border: none;
  padding: 10px;
  color: rgb(11, 10, 97);
  border-radius: 10px;
}
.regtext{
  margin-top: 1.5%;
}

